.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.8rem;
    padding: 1.2rem 1.6rem;
    background-color: $vert;
    border: 1px solid $noir;
    box-shadow: 4px 4px 0 $mauve;
    border-radius: .5rem;
    transition: .3s;
    cursor: pointer;

    &:hover{
        background-color: $mauve;
        border: 1px solid $noir;
        box-shadow: 4px 4px 0 $vert;
    }

    a{
        font-size: 1.6rem;
        font-weight: 600;
        color:$blanc;
    }
    
    &__icon{
        width: 2.4rem;
        height: 2.4rem;
        background-repeat: no-repeat;
        background-position: center;
        
        &--projet{
            background-image: url('src/svg/accueil/projet.svg');
        }

        &--arrow{
            background-image: url('src/svg/accueil/arrow.svg');
        }
    }
}


.cta-secondaire{
    padding: 1.2rem 1.6rem;
    background-color: $blanc;
    border: none;
    border-radius: .5rem;
    transition: .2s;
    cursor: pointer;

    a{
        font-size: 1.6rem;
        font-weight: 600;
        color:$mauve;
        transition:.3s;
        
        &:hover{
            color:$vert;
        }
    }
}


@media (max-width:1070px) {
    .cta a{
        font-size: 1.4rem;
        line-height: calc(1.4rem * 1.4);
    }
}

@media (max-width:1035px) {
    .cta{
        &__icon{
            display: none;
        }
    }
}


@media (max-width:970px) {
    .cta{
        &__icon{
            display: none;
        }
    }
}


@media (max-width:425px) {
    .cta{
        width: 100%;
    }
}

