.header{
    background-color: $blanc;
    padding:2.4rem 0;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom:0;
        background: rgb(255,190,12);
        background: linear-gradient(90deg, rgba(255,190,12,1) 0%, rgba(255,0,110,1) 50%, rgba(255,190,12,1) 100%);
        height: .4rem;
        width: 100%;
    }
    
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__center{
            ul{
                display: flex;
                gap:4.8rem;
                
                li a {
                    font-size: 1.8rem;
                    position: relative;
                    display: inline-block;
                    padding: 1.2rem .5rem;
                
                    &::after {
                        content: '';
                        background-color: $noir;
                        height: .3rem;
                        width: 60%;
                        position: absolute;
                        text-align: center;
                        border-radius: 50px;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%) scaleX(0);
                        transform-origin: center;
                        transition: transform 0.4s ease-out;
                    }
                
                    &:hover::after {
                        transform: translateX(-50%) scaleX(1);
                    }
                }

                .current-menu-item a {
                    font-weight: 600;
                    position: relative;
                }
            }
        }
    }

}