.performance{
    display: flex;

    &__bloc{
        width: calc(100% / 3);
        padding:8rem;
    }

    &__bloc--jaune{
        background-color: $jaune;
    }

    &__bloc--vert{
        background-color: $vert;
    }

    &__bloc--rose{
        background-color: $rose;
    }

    &__bloc__entreprise{
        font-size: 1.8rem;
        font-weight: 600;
        color:$blanc;
        margin-bottom: 4rem;
    }

    &__bloc__chiffre{
        font-size: 7rem;
        font-weight: 700;
        color:$blanc;
        margin-bottom: 4rem;
    }
    
    &__bloc__texte{
        margin-top: 4rem;
        color:$blanc;
    }
}


@media (max-width:768px){
    .performance{
        &__bloc{
            padding: 4rem;
        }

        &__bloc__chiffre{
            font-size: 4.8rem;
            line-height: calc(4.8rem * 1.4);
        }
    }
}

@media (max-width:425px){
    .performance{
        flex-wrap: wrap;
        &__bloc{
            width: 100%;
        }

        &__bloc__entreprise{
            margin-bottom: 1.6rem;
        }

        &__bloc__texte{
            margin-top: 1.6rem;
        }
    }
}