.team{
    background-color: $blanc;
    background-image: url('src/svg/accueil/grille-clair.svg');
    background-size: cover;
    padding: 8rem 0;
    position: relative;

    button{
        margin: 0 auto;
    }

    h2{
        color:$noir;
        text-align: center;
        margin-bottom: 4.8rem;
    }

    &__content{
        display: flex;
        gap:2.4rem;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    &__content a{
        width: calc(50% - 1.2rem);
    }


    &__content__bloc{
        background-color: $blanc;
        padding:4rem;
        width: 100%;
        text-align: center;
        border-radius: .8rem;
        border: 2px solid $noir;
        transition: .2s ease-in-out;
        cursor: pointer;
        height: 100%;
    }

    &__content__bloc--damien{
        box-shadow: 8px 8px 0px $jaune;
        &:hover{
            box-shadow: none;
        }
    }

    &__content__bloc--anthony{
        box-shadow: 8px 8px 0px $rose;
        &:hover{
            box-shadow: none;
        }
    }


    &__content__bloc__img{
        width: 8rem;
        height: 8rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        margin: 2.4rem auto;
    }

    &__content__bloc__img--anthony{
        background-image: url('src/img/accueil/anthony.jpeg');
    }

    &__content__bloc__img--damien{
        background-image: url('src/img/accueil/damien.jpeg');
    }

    &__content__bloc__texte__job{
        color:$vert;
        font-weight: 600;
        margin: .8rem 0 1.6rem 0;
    }

    &__content__bloc__texte__description{
        color:$gris--fonce;
        margin-bottom: 1.6rem;
    }

    // &__content__bloc__texte__reseaux{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap:2.4rem;
    // }

    // &__content__bloc__texte__reseaux__fb{
    //     width: 2.4rem;
    //     height: 2.4rem;
    //     background-image: url('src/svg/general/facebook.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    // }

    // &__content__bloc__texte__reseaux__linkedin{
    //     width: 2.4rem;
    //     height: 2.4rem;
    //     background-image: url('src/svg/general/linkedin.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    // }

    // &__content__bloc__texte__reseaux__twitter{
    //     width: 2.4rem;
    //     height: 2.4rem;
    //     background-image: url('src/svg/general/twitter.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    // }

    .cta{
        margin: 5.6rem auto 0 auto;
    }
}

@media (max-width:650px){
    .team{
        &__content{
            a{
                width: 100%;
            }
        }
    }
}


@media (max-width:425px){
    .team{
        &__content__bloc:nth-child(1){
            margin-bottom: 2.4rem;
        }
        .cta{
            margin: 4rem auto 0 auto;
        }
    }
}