.masthead{
    padding: 12rem 0;

    &__content{
        display: flex;
        align-items: center;
    }

    &__content__left{
        width: 50%;
    }

    &__content__left .h1{
        margin-bottom: 2.4rem;
        position: relative;
    }

    &__content__left__text{
        margin-bottom: 4rem;
    }

    &__content__left__links{
        display: flex;
        gap:2.4rem;
        margin-bottom: 4rem;
    }

    &__content__left__quote{
        display: flex;
        gap: 4.8rem;
    }

    &__content__left__quote__left{
        display: flex;
        gap:1.6rem;
        align-items: center;
    }  
    
    h2 div:nth-of-type(2),
    h2 div:nth-of-type(3) {
        display: inline;
    }

    &__content__left__quote__left p{
        font-weight: 600;
    }

    &__content__left__quote__left span{
        font-weight: 400;
        color: $gris--fonce;
    }


    &__content__left__quote__star{
        height: 3rem;
        width: 3rem;
        background-image: url('src/svg/accueil/etoile.svg');
        background-repeat: no-repeat;
    }

    &__content__left__quote__right{
        width: 15rem;
        height: 8.8rem;
        background-image: url('src/svg/accueil/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center bottom;
    }

    .text-highlight,
    .text-highlight-arrow{
        font-family: 'Recoleta';
        background-color: $vert--300;
        position: relative;
    }

    .text-highlight-arrow::after{
        position: absolute;
        content:'';
        height: 1.8rem;
        width: 10.5rem;
        background-image: url('src/svg/accueil/fleche.svg');
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        right:-45%;

    }

    &__content__right{
        width: 50%;
        background-image:url('src/img/accueil/masthead-x2.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 72rem;
    }
}


@media (max-width:1070px) {
    .masthead {
        .container--1600{
            max-width: 100%;
            padding: 0rem 0 0 4rem;
        }

        &__content__left .text-highlight-arrow::after{
            display: none;
        }

        &__content__left__text,
        &__content__left__links{
            margin-bottom: 2.4rem;
        }

        &__content__left{
            display: inline;
        }

        &__content__right{
            background-image: url('src/img/accueil/masthead-tablette.png');
            padding-bottom: 57rem;
        }
    }
}

@media (max-width:1024px){
    .masthead{
        padding-top: 12rem;
    }
}


@media (max-width:970px) {
    .masthead{
        padding-bottom: 5.6rem;
        &__content__left{
            width: 70%;
        }

        &__content__left__quote__right{
            display: none;
        }
    }
}



@media (max-width:768px) {
    .masthead {

        &__content__left{
            width: 50%;
        }

        &__content__right{
            background-image: url('src/img/accueil/masthead-tablette-2.png');
            padding-bottom: 48rem;
        }

        &__content__left__links{
            flex-wrap: wrap;
        }
    }
}

@media (max-width:600px) {
    .masthead {

        .container--1600{
            max-width: 100%;
            padding: 0 2.4rem;
        }

        &__content{
            display: block;
            margin: 4rem 0;
        }

        &__content__right{
            width: 100%;
            background-image: url('src/img/accueil/masthead-tablette-3.png');
        }
    }
}

@media (max-width:500px) {
    .masthead {
        &__content__right{
            padding-bottom: 42rem;
        }
    }
}

@media (max-width:425px) {
    .masthead {
        padding-top: 8rem;

        .container--1600{
            max-width: 100%;
            padding: 0 2.4rem;
        }

        &__content{
            display: block;
            margin: 4rem 0;
        }

        &__content__right{
            display: none;
        }
    }
}


@media (max-width:375px) {
    .masthead {
        padding-bottom: 2.4rem;
        &__content__right{
            padding-bottom: 31rem;
        }
    }
}