.team{
    background-color: $noir;
    background-image: url('src/svg/accueil/grille.svg');
    padding: 8rem 0;
    position: relative;

    button{
        margin: 0 auto;
    }

    h2{
        color:$blanc;
        text-align: center;
        margin-bottom: 4.8rem;
    }

    &__content{
        display: flex;
        gap:2.4rem;
    }

    &__content__bloc{
        background-color: $blanc;
        padding:4rem;
        width: calc(100% - 1.2rem);
        text-align: center;
        border-radius: .8rem;
        margin-bottom: 4.8rem;
        // &:nth-child(1){
        //     position: relative;
        //     &::before{
        //             position: absolute;
        //             content:'';
        //             width: 20rem;
        //             height: 15rem;
        //             background-image: url('src/svg/accueil/circle_mauve.svg');
        //             left:-20%;
        //             top:-10%;
        //         }
        // }
        // &:nth-child(2){
        //     position: relative;
        //     &::after{
        //         position: absolute;
        //         content:'';
        //         width: 20rem;
        //         height: 15rem;
        //         background-image: url('src/svg/accueil/circle_vert.svg');
        //         right:-20%;
        //         bottom:-10%;                
        //     }
        // }
    }

    &__content__bloc__img{
        width: 8rem;
        height: 8rem;
        background-image: url('src/img/accueil/homme.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        margin: 2.4rem auto;
    }

    &__content__bloc__texte__job{
        color:$vert;
        font-weight: 600;
        margin: .8rem 0 1.6rem 0;
    }

    &__content__bloc__texte__description{
        color:$gris--fonce;
        margin-bottom: 1.6rem;
    }

    &__content__bloc__texte__reseaux{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:2.4rem;
    }

    &__content__bloc__texte__reseaux__fb{
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('src/svg/general/facebook.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__content__bloc__texte__reseaux__twitter{
        width: 2.4rem;
        height: 2.4rem;
        background-image: url('src/svg/general/twitter.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}