.liste {
    padding-bottom: 12rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        align-items: self-start;

        &__link {
            display: block;
            text-decoration: none;
            color: inherit; 
            border-radius: 2.4rem;
            width: calc(50% - 1.2rem);
            
            &:nth-child(1) {
                width: 100%;
                display: flex;
                gap: 4rem;
                flex-direction: row-reverse;
                align-items: center;
            }

            &:nth-child(1) &__bloc{
                display: flex;
                flex-direction: row-reverse;
                gap: 4rem;
                align-items: center;
                &__left,&__right{
                    width: calc(50% - 2rem);
                }

                &__left{
                    padding: 4rem;
                }
            }

                &__bloc {
                    background-color: $gris--3;
                    border-radius: 2.4rem;
                    padding: 4rem;
                    width: 100%;

                    &__left {
                        background-color: $blanc;
                        padding: 4rem 4rem 0 4rem;
                        margin-bottom: 2.4rem;
                        line-height: 0;
                        border-radius: 2.4rem;

                        img {
                            width: 100%;
                            height: fit-content;
                        }
                    }

                    &__right {
                        h3 {
                            margin-bottom: .8rem;
                        }

                        p {
                            color: $gris--fonce;
                        }
                    }
            }

            &:nth-child(2) &__bloc__left { background-color: $jaune; }
            &:nth-child(3) &__bloc__left { background-color: $vert; }
            &:nth-child(4) &__bloc__left { background-color: $rose; }
            &:nth-child(5) &__bloc__left { background-color: $mauve; }
            &:nth-child(6) &__bloc__left { background-color: $noir; }
            &:nth-child(7) &__bloc__left { background-color: $orange; }

        }
    }
}


@media (max-width: 768px) {
    .liste {
        a{
            width: 100%;
        }
        &__content{
            &__link{
                &:nth-child(1) &__bloc{
                    display: block;
                    &__left,
                    &__right{
                        width: 100%;
                    }
                }
            }
        }
    }
}