// MAIN
$blanc: #fff;
$jaune: #FFBE0C;
$mauve: #390099;
$rose: #ff006e;
$vert: #0bda4e;
$noir: #313131;
$gris: #fafafa;


// JAUNE
$jaune--1000:#ffc422;
$jaune--900: #ffca38;
$jaune--800: #ffd04e;
$jaune--700: #ffd664;
$jaune--600: #ffdc7a;
$jaune--500: #ffe191;
$jaune--400: #ffe7a7;
$jaune--300: #ffedbd;
$jaune--200: #fff3f3;
$jaune--100: #fff9e9;


// MAUVE 
$mauve--1000:#4b17a2;
$mauve--900: #5d2eac;
$mauve--800: #6f46b5;
$mauve--700: #815bde;
$mauve--600: #9374c7;
$mauve--500: #a58bd1;
$mauve--400: #b7a2da;
$mauve--300: #c9b9e3;
$mauve--200: #dbd1ec;
$mauve--100: #ede8f6;


// ROSE
$rose--1000:#ff177b;
$rose--900: #ff2e88;
$rose--800: #ff4696;
$rose--700: #ff5da3;
$rose--600: #ff74b0;
$rose--500: #ff8BBD;
$rose--400: #ffa2ca;
$rose--300: #ffb9d7;
$rose--200: #ffd1e5;
$rose--100: #ffe8f2;


// VERT
$vert--1000:#21dd5e;
$vert--900: #37e16e;
$vert--800: #4ee47e;
$vert--700: #64e78e;
$vert--600: #7aeb9e;
$vert--500: #90eeaf;
$vert--400: #a6f2bf;
$vert--300: #bcf5cf;
$vert--200: #d3f8df;
$vert--100: #e9fcef;


// GRIS 
$gris--fonce: #8896ab;
$gris-clair: #e1e1e1;


.jaune{
    color:$jaune;
}