.container--1600 {
    max-width: 160rem; // 1700px in rem units for the container width
    padding: 0 4rem; // 40px padding on left and right sides
    margin: 0 auto; // Center the container
    width: 100%; // Ensure the container takes the full available width
}


.container--1400{
    max-width: 140rem; // 1700px in rem units for the container width
    padding: 0 4rem; // 40px padding on left and right sides
    margin: 0 auto; // Center the container
    width: 100%; // Ensure the container takes the full available width
}


.container--1200{
    max-width: 120rem; // 1700px in rem units for the container width
    padding: 0 4rem; // 40px padding on left and right sides
    margin: 0 auto; // Center the container
    width: 100%; // Ensure the container takes the full available width
}