// src/scss/_typography.scss

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('src/fonts/Inter-Regular.woff2') format('woff2'),
        url('src/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('src/fonts/Inter-Medium.woff2') format('woff2'),
        url('src/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('src/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('src/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('src/fonts/Inter-Bold.woff2') format('woff2'),
        url('src/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Recoleta';
    font-weight: 700;
    src: url('src/fonts/Recoleta-Bold.woff2') format('woff2'),
        url('src/fonts/Recoleta-Bold.woff') format('woff');
}


// H1 //

.h1{
    font-size: 5.6rem;
    font-family: 'Inter';
    font-weight: 700;
    line-height: calc(5.6rem * 1.4);
    color: $noir;
}

@media (max-width:1070px) {
    .h1{
        font-size: 4rem;
        line-height: calc(4rem * 1.4);
    }
}

@media (max-width:750px) {
    .h1{
        font-size: 3.8rem;
        line-height: calc(3.8rem * 1.4);
    }
}

@media (max-width:712px) {
    .h1{
        font-size: 3.6rem;
        line-height: calc(3.6rem * 1.4);
    }
}

@media (max-width:677px) {
    .h1{
        font-size: 3.4rem;
        line-height: calc(3.4rem * 1.4);
    }
}

@media (max-width:640px) {
    .h1{
        font-size: 3.2rem;
        line-height: calc(3.4rem * 1.4);
    }
}

@media (max-width:425px) {
    .h1{
        font-size: 3.2rem;
        line-height: calc(3.2rem * 1.4);
    }
}

// -- //


// H2 //

h2,
.h2{
    font-size: 4.8rem;
    font-family: 'Inter';
    font-weight: 700;
    line-height: calc(4.8rem * 1.4);
    color: $noir;
}
@media (max-width:1024px){
    h2,
    .h2{
        font-size: 3.2rem;
        line-height: calc(3.2rem * 1.4);
    }
}

@media (max-width:425px){
    h2,
    .h2{
        font-size: 2.4rem;
        line-height: calc(2.4rem * 1.4);
    }
}

// -- //


// H3 //


h3,
.h3{
    font-size: 3.2rem;
    font-family: 'Inter';
    font-weight: 500;
    line-height: calc(3.2rem * 1.4);
    color: $noir;
}

@media (max-width:1024px){
    h3,
    .h3{
        font-size: 2rem;
        line-height: calc(2rem * 1.4);
    }
}


@media (max-width:425px){
    h3,
    .h3{
        font-size: 1.8rem;
        line-height: calc(1.8rem * 1.4);
    }
}

// -- //


// H4 //

h4,
.h4{
    font-size: 2.4rem;
    font-family: 'Inter';
    font-weight: 500;
    line-height: calc(2.4rem * 1.4);
    color: $noir;
}

@media (max-width:1024px){
    h4,
    .h4{
        font-size: 1.8rem;
        font-weight: calc(1.8rem * 1.4);
    }
}

@media (max-width:425px){
    h4,
    .h4{
        font-size: 1.6rem;
        line-height: calc(1.6rem * 1.4);
    }
}

// -- //

// P //

p{
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 400;
    line-height: calc(2rem * 1.6);
    color:$noir;
}

@media (max-width:1024px) {
    p{
        font-size: 1.8rem;
        line-height: calc(1.8rem * 1.4);
    }
}

@media (max-width:425px) {
    p{
        font-size: 1.6rem;
        line-height: calc(1.6rem * 1.4);
    }
}

// -- //

// SMALL TEXT //

.small-text{
    font-size: 1.6rem;
    font-family: 'Inter';
    font-weight: 400;
    line-height: calc(1.6rem * 1.4);
    color:$noir;
}

@media (max-width:1070px) {
    .small-text{
        font-size: 1.4rem;
        line-height: calc(1.4rem * 1.4);
    }
}


// MEDIUM TEXT //

.medium-text{
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 600;
    line-height: calc(2rem * 1.4);
    color:$noir
}

@media (max-width:1070px) {
    .medium-text{
        font-size: 1.8rem;
        line-height: calc(1.8rem * 1.4);
    }
}


// TEXT ALIGN LEFT //
/* Par défaut, le texte est centré */
.align-mobile-left {
    text-align: center;
}

/* En version mobile, le texte sera aligné à gauche */
@media (max-width: 425px) {
    .align-mobile-left {
        text-align: left;
    }
}
